@{
    ViewData["Title"] = "Propietarios";
}

<h2>Lista de Propietarios</h2>
<p>
    <a href="#" data-toggle="modal" data-target="#IngresoPropietario">Ingrese propietario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre1
            </th>
            <th>
                Nombre2
            </th>
            <th>
                Apellido1
            </th>
            <th>
                Apellido2
            </th>
            <th>
                Direccion
            </th>
            <th>
                Correo
            </th>
            <th>
                Telefono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="Listapropietario"></tbody>
</table>





<div class="modal fade" id="IngresoPropietario" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Propietarios
                </h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label class="control-label">Primer nombre</label>
                        <input id="Nombre1" name="Nombre1"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                        <label class="control-label">Segundo nombre</label>
                        <input id="Nombre2" name="Nombre2"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                        <label class="control-label">Primer apellido</label>
                        <input id="Apellido1" name="Apellido1"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                        <label class="control-label">Segundo apellido</label>
                        <input id="Apellido2" name="Apellido2"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                        <label class="control-label">Direccion</label>
                        <input id="Direccion" name="Direccion"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                        <label class="control-label">Telefono</label>
                        <input id="Correo" name="Correo"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                        <label class="control-label">Correo</label>
                        <input id="Telefono" name="Telefono"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                       
                        <input id="PropietarioId" name="PropietarioId" hidden />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="grabaPropietario()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
