@model IEnumerable<Parcial_II.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Empleados</h2>

<p>

    <a href="#" data-toggle="modal" data-target="#IngreseEmpleado">Ingrese datos Empleados</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                PrimerNombre
            </th>
            <th>
                SegundoNombre
            </th>
            <th>
                PrimerApellido
            </th>
            <th>
                SegundoApellido
            </th>
            <th>
                Direccion
            </th>
            <th>
                Salario
            </th>
            <th>
                Correo
            </th>
            <th>
                Fecha_nacimiento
            </th>
            <th>
                edad
            </th>
            <th>
                usuario
            </th>
            <th>
                categorialaboral
            </th>
        </tr>
    </thead>
    <tbody id=""></tbody>
</table>



<div class="modal fade" id="IngreseEmpleado" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Propietarios
                </h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label class="control-label">Primer nombre</label>
                        <input id="PrimerNombre" name="PrimerNombre"
                               placeholder="Ingrese el Primer nombre"
                               class="form-control" />
                        <label class="control-label">Segundo nombre</label>
                        <input id="SegundoNombre" name="SegundoNombre"
                               placeholder="Ingrese el segundo nombre"
                               class="form-control" />
                        <label class="control-label">Primer apellido</label>
                        <input id="PrimerApellido" name="PrimerApellido"
                               placeholder="Ingrese el primer apellido"
                               class="form-control" />
                        <label class="control-label">Segundo apellido</label>
                        <input id="SegundoApellido" name="SegundoApellido"
                               placeholder="Ingrese el segundo Apellido"
                               class="form-control" />
                        <label class="control-label">Direccion</label>
                        <input id="Direccion" name="Direccion"
                               placeholder="Ingrese la Direccion"
                               class="form-control" />
                        <label class="control-label">Salario</label>
                        <input id="Salario" name="Salario"
                               placeholder="Ingrese el Salario"
                               class="form-control" />
                        <label class="control-label">Correo</label>
                        <input id="Correo" name="Correo"
                               placeholder="Ingrese el Correo"
                               class="form-control" />
                        <label class="control-label"> Fecha_nacimiento</label>
                        <input id="Fecha_nacimiento " name="Fecha_nacimiento "
                               placeholder="Ingrese la Fecha"
                               class="form-control" />
                        <label class="control-label"> Edad</label>
                        <input id="Edad" name="Edad"
                               placeholder="Ingrese la Edad"
                               class="form-control" />
                        <label class="control-label">Usuario</label>
                        <input id="UsuarioId" name="UsuarioId"
                               placeholder="Ingrese el sexo"
                               class="form-control" />
                        <label class="control-label"> categoria laboral</label>
                        <input id="CategoriaLaboralId" name="CategoriaLaboralId"
                               placeholder="Ingrese la categoria Laboral"
                               class="form-control" />
                        <input id="EmpleadoId" name="EmpleadoId" hidden />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="grabaEmpleado()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>